<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike Rental Service</title>
    <style>
        button{
            background-color: blueviolet;   
            color: white; 
        }
        p{
            margin: 0px;
        }

    </style>
</head>
<body>
    <center>
        <form method="post"> 
            <!-- <label for="">Model</label> -->
            <p>Model</p>   
            <input type="text" placeholder="e.g. Honda" name="Model"><br>
            <!-- <label for="">Daily fee(VND)</label> -->
            <p>Daily fee(VND)</p>
            <input type="text" placeholder="100000" name="DailyFee"><br>
            <!-- <label for="">Image</label> -->
            <p>Image</p>
            <input type="text" placeholder="e.g. https://hondaxemay" name="Image"><br>
            <!-- <label for="">Year</label> -->
            <p>Year</p> 
            <input type="text" placeholder="e.g. 2013" name="Year"><br>
            <button>Submit</button> 
        </form>
    </center>
    
</body>
</html>