<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /> -->
    <link href="https://fonts.googleapis.com/css?family=Bungee|Mountains+of+Christmas" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>👍</title>
</head>
<body>
    <h1 class="header_logo">Hello {{ session["token"]}}<a href="/sign_out" style="font-size:10px">Đăng xuất</a></h1>
    <a href="/edit_information">Thông tin cá nhân</a><br>
    <a href="/password1">Bảo mật</a><br> 
    <a href="/contribute">Góp ý</a> 
</body>
</html>