<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>👍</title>
</head>
<body>
    <form action="" method="post">
        <small>Việc thay đổi mật khẩu của bạn sẽ khiến bạn đăng xuất khỏi tất cả các thiết bị, kể cả điện thoại của bạn. Bạn sẽ cần phải nhập mật khẩu mới trên tất cả các thiết bị của mình.</small>
        <div>
            <input type="password" name="password" placeholder="Mật khẩu mới">
        </div>
        <small>Sử dụng ít nhất 8 ký tự. Không sử dụng mật khẩu từ trang khác hoặc nội dung quá rõ ràng như tên thú cưng của bạn.</small>
        <div>
            <input type="password" name="confirm" placeholder="Xác nhận mật khẩu mới">
        </div>
        <div>
            <button class="button">Đổi mật khẩu</button>
        </div>
    </form>
</body>
</html>