<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>👍</title>
</head>
<body>
    <form action="" method="post">
        <h3>{{ user.fullname }}</h3>
        <hr>
        <p>Để tiếp tục, trước tiên xác minh đó là bạn:</p>
        <input type="password" name="password">
        <div>
            <button class="button">Tiếp tục</button>
        </div>
    </form>

</body>
</html>