<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">  
    <title>👍 </title>
</head>
<body>  
    <form action="" method="post"> 
        <h3>Đăng nhập</h3>
        <div><input type="text" placeholder="Tên đăng nhập" name="username" class="o_input"></div>
        <div><input type="password" placeholder="Mật khẩu" name="password" class="o_input"></div>
        <div>
            <button class="button">Tiếp tục</button>
        </div>
        <small style="font-size: 10px;">Bạn chưa có tài khoản? <a href="/sign_up">Đăng ký</a></small>
    </form>
</body>
</html>