<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post"> 
        <label>title</label>
        <input type="text" placeholder="exp: Harry Potter" name="title">
        <label>image url</label>
        <input type="text" name="image">
        <label>year</label>
        <input type="text" placeholder="2001" name="year"> 
        <button>Add</button>
    </form>
</body>
</html>